<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfed0PsSLuwOurjsaw_2h_qSh-M2ZPVgo</string>
	<key>GCM_SENDER_ID</key>
	<string>949667063441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coachos.coachOsApp</string>
	<key>PROJECT_ID</key>
	<string>coachos-ea229</string>
	<key>STORAGE_BUCKET</key>
	<string>coachos-ea229.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949667063441:ios:c5c819d5fe3355db7dc130</string>
</dict>
</plist>